<div fxLayout="row" fxLayoutAlign="center">
  <div  fxLayout="column" fxFlex="900px">
    <form class="mt-60" #clientesFrm="ngForm" (ngSubmit)="saveClient()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Dados pessoais</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-20">
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="800px">
              <mat-form-field class="full-width">
                <mat-label>Nome: *</mat-label>
                <input type="text"
                      placeholder="Ex.: José da Silva"
                      matInput
                      name="name"
                      required
                      [(ngModel)]="client.name"/>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="800px">
              <mat-form-field class="full-width">
                <mat-label>Email: *</mat-label>
                <input type="email"
                      placeholder="Digite seu email"
                      matInput
                      name="email"
                      required
                      [(ngModel)]="client.email"/>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="400px">
              <mat-form-field class="full-width">
                <mat-label>CPF: *</mat-label>
                <input type="text"
                      placeholder="Digite seu CPF"
                      matInput
                      name="cpf"
                      mask="000.000.000-00"
                      required
                      [(ngModel)]="client.cpf"/>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="400px">
              <mat-form-field class="full-width">
                <mat-label>Data de Nascimento: *</mat-label>
                <input type="text"
                      matInput
                      placeholder="DD/MM/AAAA"
                      name="birthDate"
                      required
                      mask="00/00/0000"
                      [(ngModel)]="client.birthDate"/>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="400px">
              <mat-form-field class="full-width" >
                <mat-label>UF: </mat-label>
                <mat-select (selectionChange)="loadMunicipios($event)" [(value)]="client.uf">
                  <mat-option *ngFor="let estado of estados" [value]="estado.sigla">
                    {{estado.sigla}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="400px">
              <mat-form-field class="full-width">
                <mat-label>Município: </mat-label>
                <mat-select [(value)]="client.municipio">
                  <mat-option *ngFor="let municipio of municipios" [value]="municipio.nome">
                    {{municipio.nome}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

        </mat-card-content>
        <mat-card-actions fxLayoutGap="12px">
          @if(!editing){
            <button mat-flat-button color="primary" type="submit" [disabled]="!clientesFrm.form.valid">
                <mat-icon fontIcon="save"></mat-icon>
                Salvar
              </button>
            } @else{
              <button mat-flat-button color="primary" type="submit" [disabled]="!clientesFrm.form.valid">
                <mat-icon fontIcon="refresh"></mat-icon>
                Atualizar
              </button>
            }

            <button mat-flat-button color="accent" type="button" (click)="clearForm()">
              <mat-icon fontIcon="backspace"></mat-icon>
              Limpar
            </button>

        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
